@font-face {
    font-family: "STU XVIII";
    src: url(../font/STU XVIII.ttf);
}

div.player div.name {
    position: absolute;
    left: -25px;
    top: -100px;
    width: 50px;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: -24px;
    font-size: 56px;
    -webkit-writing-mode: vertical-rl;
    -webkit-text-orientation: upright;
    transform-origin: 0px 12px;
    transform: translate(16px,-10px);
}

div.player div.n {
    position: absolute;
    left: -50px;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 24px;
    transform-origin: 0px 0px;
    transform: translate(5px,-5px);
}

div.player div.name1 {
    top: 125px;
}
div.player div.name2 {
    top: 175px;
}
div.player div.name3 {
    top: 225px;
}
div.player div.name4 {
    top: 275px;
}
div.player div.name5 {
    top: 325px;
}

div.player div.t {
    position: absolute;
    left: -75px;
    width: 150px;
    text-align: center;
    letter-spacing: 3px;
    font-family: "STU XVIII";
    font-weight: bold;
    font-size: 18px;
}

div.player div.torii1 {
    top: 150px;
}
div.player div.torii2 {
    top: 200px;
}
div.player div.torii3 {
    top: 250px;
}
div.player div.torii4 {
    top: 300px;
}
div.player div.torii5 {
    top: 350px;
}

div.player div.open div.paperRank {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #FFFFFF;
    position: absolute;
    left: -30px;
    top: -125px;
    width: 60px;
    text-align: center;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 20px;
    transform: translate(0px, 0px);
}

div.player div.overRect div.paperRank {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #FFFFFF;
    position: absolute;
    left: -30px;
    top: -125px;
    width: 60px;
    text-align: center;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 20px;
    transform: translate(0px, 0px);
}

div.player div.o {
    position: absolute;
    left: -50px;
    top: -220px;
    width: 100px;
    text-align: center;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 60px;
    transform: translate(0px, 0px);
}

div.player div.winningPoint {
    position: absolute;
    left: 20px;
    top: -190px;
    width: 100px;
    text-align: left;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 35px;
    transform: translate(0px, 0px);
}

div.player div.oo {
    position: absolute;
    left: -50px;
    width: 100px;
    text-align: center;
    font-family: "HGSｺﾞｼｯｸE";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 40px;
    transform: translate(0px, 0px);
    color: dodgerblue;
}

div.player div.oo1 {
    top: 125px;
}
div.player div.oo2 {
    top: 175px;
}
div.player div.oo3 {
    top: 225px;
}
div.player div.oo4 {
    top: 275px;
}
div.player div.oo5 {
    top: 325px;
}

div.player div.sl {
    position: absolute;
}

div.player div.sl1 {
    top: 125px;
}
div.player div.sl2 {
    top: 175px;
}
div.player div.sl3 {
    top: 225px;
}
div.player div.sl4 {
    top: 275px;
}
div.player div.sl5 {
    top: 325px;
}

div.player div.sl img {
    position: absolute;
    left: -50px;
    -webkit-transition: 0.5s linear all;
    transform: translate(0px, 0px);
    opacity: 1;
}

div.player div.sl img.ng-enter {
    position: absolute;
    transform: translate(0px, -50px);
    opacity: 0;
}

div.player div.x {
    position: absolute;
    left: -50px;
    top: -165px;
    width: 100px;
    text-align: center;
    font-family: "HGSｺﾞｼｯｸE";
    font-weight: bold;
    letter-spacing: 0px;
    font-size: 40px;
}

div.player div.absent {
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #FFFF22;
    position: absolute;
    left: -35px;
    top: -95px;
    width: 70px;
    text-align: center;
    font-family: "MigMix 1M";
    font-weight: bold;
    letter-spacing: 0px;
    line-height: 80%;
    font-size: 30px;
    transform: translate(0px, 0px);
    z-index: 1;
}

div.player div.rank {
    position: absolute;
    left: -25px;
    top: -15px;
}

div.player div.rank img {
    width: 60px;
    height: 40px;
    background-color: rgba(255,255,255,0.5);
}

div.player div.rank img.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
    opacity: 0;
    -webkit-transform: rotateX(180deg);
}

div.player div.rank img.ng-enter.ng-enter-active {
    opacity: 1.0;
    -webkit-transform: rotateX(0deg);
}

div.player div.status {
    position: absolute;
    left: -25px;
    top: -100px;
}

div.player div.status img.win {
    position: absolute;
    left: -5px;
    top: 25px;
    width: 60px;
    opacity: 0.7;
}

div.player div.status img.win.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0;
    transform: scale(1.5,1.5);
}

div.player div.status img.win.ng-enter.ng-enter-active {
    opacity: 0.9;
    transform: scale(1,1);
}

div.player div.status img.lose {
    position: absolute;
    left: -12px;
    top: 20px;
    width: 75px;
    opacity: 0.7;
}

div.player div.status img.lose.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0;
    transform: scale(1.5,1.5) rotate(30deg);
}

div.player div.status img.lose.ng-enter.ng-enter-active {
    opacity: 0.9;
    transform: scale(1,1) rotate(0deg);
}

div.player div.status img.wait {
    position: absolute;
    left: -5px;
    top: 38px;
    width: 60px;
    opacity: 0.7;
}

div.player div.status img.wait.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0;
    transform: scale(1.5,1.5);
}

div.player div.status img.wait.ng-enter.ng-enter-active {
    opacity: 0.9;
    transform: scale(1,1);
}

div.player div.status img.absent {
    position: absolute;
    left: -5px;
    top: 0px;
    width: 60px;
    opacity: 0.3;
}

div.player div.status img.absent.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0;
    transform: scale(1.2,1.2);
}

div.player div.status img.absent.ng-enter.ng-enter-active {
    opacity: 0.3;
    transform: scale(1,1);
}

div.player div.motion {
    position: absolute;
    left: -25px;
    top: 0px;
}

div.player div.motion img.o {
    position: absolute;
    left: 0px;
    top: -30px;
    opacity: 0;
}

div.player div.motion img.o.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0.9;
    transform: scale(1,1);
}

div.player div.motion img.o.ng-enter.ng-enter-active {
    opacity: 0;
    transform: scale(1.5,1.5);
}

div.player div.motion img.x {
    position: absolute;
    left: 0px;
    top: -30px;
    opacity: 0;
}

div.player div.motion img.x.ng-enter {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    opacity: 0.9;
    transform: scale(1.5,1.5);
}

div.player div.motion img.x.ng-enter.ng-enter-active {
    opacity: 0;
    transform: scale(1,1);
}

div.player div.action_o {
    position: absolute;
    left: -22px;
    top: -100px;
    opacity: 0.8;
}

div.player div.action_x {
    position: absolute;
    left: -22px;
    top: 60px;
    opacity: 0.8;
}

div.player div.action_win {
    position: absolute;
    left: -30px;
    top: 110px;
}
div.player div.action_lose {
    position: absolute;
    left: -10px;
    top: 110px;
}
div.player div.action_wait {
    position: absolute;
    left: 10px;
    top: 110px;
}

div.player div.action_sl1 {
    position: absolute;
    left: -22px;
    top: 125px;
    opacity: 0.8;
}

div.player div.action_sl2 {
    position: absolute;
    left: -22px;
    top: 175px;
    opacity: 0.8;
}

div.player div.action_sl3 {
    position: absolute;
    left: -22px;
    top: 225px;
    opacity: 0.8;
}

div.player div.action_sl4 {
    position: absolute;
    left: -22px;
    top: 275px;
    opacity: 0.8;
}

div.player div.action_sl5 {
    position: absolute;
    left: -22px;
    top: 325px;
    opacity: 0.8;
}

div.player hr.hr1 {
    position: absolute;
    top: -140px;
    left: -50px;
    width: 100px;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,0.5));
}

div.player hr.hr2 {
    position: absolute;
    top: 100px;
    left: -50px;
    width: 100px;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,0.5));
}
