@font-face {
  font-family: "STU XVIII";
  src: url("../font/STU XVIII.ttf");
}

div.player div.name {
  position: absolute;
  left: -25px;
  top: -100px;
  width: 50px;
  font-size: 56px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  letter-spacing: -24px;
  -webkit-writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  transform-origin: 0px 12px;
  transform: translate(16px, -10px);
}

div.player div.nameLat {
  position: absolute;
  left: -200px;
  top: -120px;
  font-size: 72px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  transform-origin: -5px 0px;
  transform: translate(55px, 0px);
}

div.player div.open div.paperRank {
  position: absolute;
  left: -30px;
  top: -125px;
  width: 60px;
  font-size: 20px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFFFF;
  transform: translate(0px, 0px);
}

div.player div.overRect div.paperRank {
  position: absolute;
  left: -30px;
  top: -125px;
  width: 60px;
  font-size: 20px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFFFF;
  transform: translate(0px, 0px);
}

div.player div.rank img {
  position: absolute;
  left: -40px;
  top: -210px;
  width: 90px;
  height: 60px;
  -webkit-user-select: none;
  background-color: rgba(0, 0, 0, 0.5);
}

div.player div.rank img.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  opacity: 0;
  -webkit-transform: rotateX(180deg);
}

div.player div.rank img.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.win {
  position: absolute;
  left: -30px;
  top: -75px;
  width: 60px;
  height: 166px;
  -webkit-user-select: none;
}

div.player div.status img.win.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.win.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.lose {
  position: absolute;
  left: -37px;
  top: -80px;
  width: 75px;
  height: 182px;
  -webkit-user-select: none;
}

div.player div.status img.lose.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5) rotate(30deg);
}

div.player div.status img.lose.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.wait {
  position: absolute;
  left: -30px;
  top: -62px;
  width: 60px;
  height: 146px;
  -webkit-user-select: none;
}

div.player div.status img.wait.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.wait.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.absent {
  position: absolute;
  left: -30px;
  top: -100px;
  width: 60px;
  height: 200px;
  -webkit-user-select: none;
}

div.player div.status img.absent.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.2, 1.2);
}

div.player div.status img.absent.ng-enter.ng-enter-active {
  opacity: 0.3;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.motion img.o {
  position: absolute;
  left: -25px;
  top: -30px;
  -webkit-user-select: none;
  opacity: 0;
}

div.player div.motion img.o.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.o.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.motion img.x {
  position: absolute;
  left: -25px;
  top: -30px;
  -webkit-user-select: none;
  opacity: 0;
}

div.player div.motion img.x.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.x.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.o {
  position: absolute;
  left: -50px;
  top: -230px;
  width: 100px;
  font-size: 72px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

div.player div.o div.chance {
  color: lightskyblue;
}

div.player div.x {
  position: absolute;
  left: -150px;
  top: -175px;
  width: 300px;
  font-size: 60px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  font-family: "Impact";
}

div.player div.x div.pinch {
  color: lightpink;
}

div.player div.absent {
  position: absolute;
  left: -35px;
  top: -95px;
  width: 70px;
  font-size: 30px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFF22;
  line-height: 80%;
  z-index: 1;
}

div.player div.winningPoint {
  position: absolute;
  left: 20px;
  top: -190px;
  width: 50px;
  font-size: 36px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
}

div.lot1 {
  font-family: "MigMix 1M";
  font-weight: bold;
  position: absolute;
  font-size: 48px;
  -webkit-user-select: none;
  top: 15%;
  left: 5.2%;
  text-align: center;
}

div.lot2 {
  font-family: "MigMix 1M";
  font-weight: bold;
  position: absolute;
  font-size: 48px;
  -webkit-user-select: none;
  top: 15%;
  left: 25.2%;
  text-align: center;
}

div.lot3 {
  font-family: "MigMix 1M";
  font-weight: bold;
  position: absolute;
  font-size: 48px;
  -webkit-user-select: none;
  top: 15%;
  left: 45.2%;
  text-align: center;
}

div.lot4 {
  font-family: "MigMix 1M";
  font-weight: bold;
  position: absolute;
  font-size: 48px;
  -webkit-user-select: none;
  top: 15%;
  left: 65.2%;
  text-align: center;
}

div.lot5 {
  font-family: "MigMix 1M";
  font-weight: bold;
  position: absolute;
  font-size: 48px;
  -webkit-user-select: none;
  top: 15%;
  left: 85.2%;
  text-align: center;
}

div.player hr.hr1 {
  display: none;
}

div.player hr.hr2 {
  display: none;
}

div.player div.name {
  display: none;
}

div.player div.nameLat {
  position: absolute;
  left: -100px;
  top: 0px;
  font-size: 36px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  transform-origin: -5px 0px;
  transform: translate(25px, 15px);
}

div.player div.name1 {
  display: none;
}

div.player div.torii1 {
  display: none;
}

div.player div.oo1 {
  display: none;
}

div.player div.sl1 img {
  display: none;
}

div.player div.action_sl1 {
  display: none;
}

div.player div.name2 {
  display: none;
}

div.player div.torii2 {
  display: none;
}

div.player div.oo2 {
  display: none;
}

div.player div.sl2 img {
  display: none;
}

div.player div.action_sl2 {
  display: none;
}

div.player div.name3 {
  display: none;
}

div.player div.torii3 {
  display: none;
}

div.player div.oo3 {
  display: none;
}

div.player div.sl3 img {
  display: none;
}

div.player div.action_sl3 {
  display: none;
}

div.player div.name4 {
  display: none;
}

div.player div.torii4 {
  display: none;
}

div.player div.oo4 {
  display: none;
}

div.player div.sl4 img {
  display: none;
}

div.player div.action_sl4 {
  display: none;
}

div.player div.name5 {
  display: none;
}

div.player div.torii5 {
  display: none;
}

div.player div.oo5 {
  display: none;
}

div.player div.sl5 img {
  display: none;
}

div.player div.action_sl5 {
  display: none;
}

div.player div.action_o {
  display: none;
}

div.player div.action_x {
  display: none;
}

div.player div.action_win {
  display: none;
}

div.player div.action_lose {
  display: none;
}

div.player div.action_wait {
  display: none;
}
