@charset "UTF-8";
@font-face {
  font-family: "STU XVIII";
  src: url("../font/STU XVIII.ttf");
}

div.player hr.hr1 {
  position: absolute;
  top: -140px;
  left: -200px;
  width: 400px;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5));
}

div.player hr.hr2 {
  position: absolute;
  top: -40px;
  left: -200px;
  width: 400px;
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5), white, rgba(255, 255, 255, 0.5));
}

div.player div.name {
  display: none;
  position: absolute;
  left: -25px;
  top: -100px;
  width: 50px;
  font-size: 56px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  letter-spacing: -24px;
  -webkit-writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  transform-origin: 0px 12px;
  transform: translate(16px, -10px);
}

div.player div.nameLat {
  position: absolute;
  left: -200px;
  top: -120px;
  font-size: 72px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px, 0px;
  transform: translate(50px, 0px);
}

div.player div.open div.paperRank {
  position: absolute;
  left: -30px;
  top: -125px;
  width: 60px;
  font-size: 20px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFFFF;
  transform: translate(0px, 0px);
}

div.player div.overRect div.paperRank {
  position: absolute;
  left: -30px;
  top: -125px;
  width: 60px;
  font-size: 20px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFFFF;
  transform: translate(0px, 0px);
}

div.player div.rank img {
  position: absolute;
  left: -40px;
  top: -210px;
  width: 90px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.5);
}

div.player div.rank img.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  opacity: 0;
  -webkit-transform: rotateX(180deg);
}

div.player div.rank img.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.win {
  position: absolute;
  left: -30px;
  top: -75px;
  width: 60px;
  height: 166px;
}

div.player div.status img.win.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.win.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.lose {
  position: absolute;
  left: -37px;
  top: -80px;
  width: 75px;
  height: 182px;
}

div.player div.status img.lose.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5) rotate(30deg);
}

div.player div.status img.lose.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.wait {
  position: absolute;
  left: -30px;
  top: -62px;
  width: 60px;
  height: 146px;
}

div.player div.status img.wait.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.status img.wait.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.status img.absent {
  position: absolute;
  left: -30px;
  top: -100px;
  width: 60px;
  height: 200px;
}

div.player div.status img.absent.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  opacity: 0;
  transform: scale(1.2, 1.2);
}

div.player div.status img.absent.ng-enter.ng-enter-active {
  opacity: 0.3;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
}

div.player div.motion img.o {
  position: absolute;
  left: -25px;
  top: -30px;
  opacity: 0;
}

div.player div.motion img.o.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.o.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.motion img.x {
  position: absolute;
  left: -25px;
  top: -30px;
  opacity: 0;
}

div.player div.motion img.x.ng-enter {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  -webkit-transform: rotateX(0deg);
  transform: translate(0px, 0px);
  transform: scale(1, 1);
  opacity: 1;
}

div.player div.motion img.x.ng-enter.ng-enter-active {
  opacity: 0;
  transform: scale(1.5, 1.5);
}

div.player div.o {
  position: absolute;
  left: -50px;
  top: -230px;
  width: 100px;
  font-size: 72px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
}

div.player div.o div.chance {
  color: DodgerBlue;
}

div.player div.x {
  position: absolute;
  left: -150px;
  top: -165px;
  width: 300px;
  font-size: 40px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
}

div.player div.x div.pinch {
  color: Salmon;
}

div.player div.absent {
  position: absolute;
  left: -35px;
  top: -95px;
  width: 70px;
  font-size: 30px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke-color: #000000;
  -webkit-text-stroke-width: 1px;
  -webkit-text-fill-color: #FFFF22;
  line-height: 80%;
  z-index: 1;
}

div.player div.winningPoint {
  position: absolute;
  left: 20px;
  top: -190px;
  width: 50px;
  font-size: 36px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
}

div.player div.name1 {
  position: absolute;
  left: -50px;
  top: 15px;
  font-size: 24px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px 0px;
  transform: translate(5px, -5px);
}

div.player div.name2 {
  position: absolute;
  left: 102px;
  top: 125px;
  font-size: 24px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px 0px;
  transform: translate(5px, -5px);
}

div.player div.name3 {
  position: absolute;
  left: 44px;
  top: 304px;
  font-size: 24px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px 0px;
  transform: translate(5px, -5px);
}

div.player div.name4 {
  position: absolute;
  left: -145px;
  top: 304px;
  font-size: 24px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px 0px;
  transform: translate(5px, -5px);
}

div.player div.name5 {
  position: absolute;
  left: -203px;
  top: 125px;
  font-size: 24px;
  font-family: "Migmix 1M";
  font-weight: bold;
  text-align: center;
  transform-origin: 0px 0px;
  transform: translate(5px, -5px);
}

div.player div.torii1 {
  position: absolute;
  left: -50px;
  top: 40px;
  width: 100px;
  font-size: 18px;
  font-family: "STU XVIII";
  font-weight: bold;
  text-align: center;
}

div.player div.torii2 {
  position: absolute;
  left: 102px;
  top: 150px;
  width: 100px;
  font-size: 18px;
  font-family: "STU XVIII";
  font-weight: bold;
  text-align: center;
}

div.player div.torii3 {
  position: absolute;
  left: 44px;
  top: 329px;
  width: 100px;
  font-size: 18px;
  font-family: "STU XVIII";
  font-weight: bold;
  text-align: center;
}

div.player div.torii4 {
  position: absolute;
  left: -145px;
  top: 329px;
  width: 100px;
  font-size: 18px;
  font-family: "STU XVIII";
  font-weight: bold;
  text-align: center;
}

div.player div.torii5 {
  position: absolute;
  left: -203px;
  top: 150px;
  width: 100px;
  font-size: 18px;
  font-family: "STU XVIII";
  font-weight: bold;
  text-align: center;
}

div.player div.oo1 {
  display: none;
  position: absolute;
  left: -50px;
  top: 15px;
  width: 100px;
  font-size: 40px;
  font-family: "HGSｺﾞｼｯｸE";
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
}

div.player div.oo2 {
  display: none;
  position: absolute;
  left: 102px;
  top: 125px;
  width: 100px;
  font-size: 40px;
  font-family: "HGSｺﾞｼｯｸE";
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
}

div.player div.oo3 {
  display: none;
  position: absolute;
  left: 44px;
  top: 304px;
  width: 100px;
  font-size: 40px;
  font-family: "HGSｺﾞｼｯｸE";
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
}

div.player div.oo4 {
  display: none;
  position: absolute;
  left: -145px;
  top: 304px;
  width: 100px;
  font-size: 40px;
  font-family: "HGSｺﾞｼｯｸE";
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
}

div.player div.oo5 {
  display: none;
  position: absolute;
  left: -203px;
  top: 125px;
  width: 100px;
  font-size: 40px;
  font-family: "HGSｺﾞｼｯｸE";
  font-weight: bold;
  text-align: center;
  color: dodgerblue;
}

div.player div.sl1 img {
  position: absolute;
  left: -50px;
  top: 15px;
  -webkit-transition: 0.2s linear all;
  transform: translate(0px, 0px);
  opacity: 1;
}

div.player div.sl1 img.ng-enter {
  opacity: 0;
}

div.player div.sl2 img {
  position: absolute;
  left: 102px;
  top: 125px;
  -webkit-transition: 0.2s linear all;
  transform: translate(0px, 0px);
  opacity: 1;
}

div.player div.sl2 img.ng-enter {
  opacity: 0;
}

div.player div.sl3 img {
  position: absolute;
  left: 44px;
  top: 304px;
  -webkit-transition: 0.2s linear all;
  transform: translate(0px, 0px);
  opacity: 1;
}

div.player div.sl3 img.ng-enter {
  opacity: 0;
}

div.player div.sl4 img {
  position: absolute;
  left: -145px;
  top: 304px;
  -webkit-transition: 0.2s linear all;
  transform: translate(0px, 0px);
  opacity: 1;
}

div.player div.sl4 img.ng-enter {
  opacity: 0;
}

div.player div.sl5 img {
  position: absolute;
  left: -203px;
  top: 125px;
  -webkit-transition: 0.2s linear all;
  transform: translate(0px, 0px);
  opacity: 1;
}

div.player div.sl5 img.ng-enter {
  opacity: 0;
}

div.player div.action_o {
  position: absolute;
  left: -22px;
  top: -100px;
  opacity: 0.8;
}

div.player div.action_x {
  position: absolute;
  left: -22px;
  top: 160px;
  opacity: 0.8;
}

div.player div.action_win {
  position: absolute;
  left: -30px;
  top: 210px;
  opacity: 0.8;
}

div.player div.action_lose {
  position: absolute;
  left: -10px;
  top: 210px;
  opacity: 0.8;
}

div.player div.action_wait {
  position: absolute;
  left: 10px;
  top: 210px;
  opacity: 0.8;
}

div.player div.action_sl1 {
  position: absolute;
  left: -22px;
  top: 40px;
  opacity: 0.8;
}

div.player div.action_sl2 {
  position: absolute;
  left: 130px;
  top: 150px;
  opacity: 0.8;
}

div.player div.action_sl3 {
  position: absolute;
  left: 72px;
  top: 329px;
  opacity: 0.8;
}

div.player div.action_sl4 {
  position: absolute;
  left: -117px;
  top: 329px;
  opacity: 0.8;
}

div.player div.action_sl5 {
  position: absolute;
  left: -175px;
  top: 150px;
  opacity: 0.8;
}

div.player div.path {
  position: absolute;
  top: 75px;
  left: -105px;
}
