@import "_rule.scss";
@import "_union-common.scss";

div.player {
  hr.hr1 {
    @include player-hr(-50, -140, 100, 2);
  }
  hr.hr2 {
    @include player-hr(-50, 100, 100, 2);
  }
  div.name {
  }
  div.nameLat {
  	display: none;
  }
  
  @for $i from 1 through 5 {
    div.name#{$i} {
      @include player-item(-50, 75+50*$i, 0, 24);
      transform-origin: 0px 0px;
      transform: translate(5px, -5px);
      display: none;
    }
    div.torii#{$i} {
      @include player-item(-75, 100+50*$i, 150, 18, "STU XVIII");
      display: none;
    }
    div.oo#{$i} {
      @include player-item(-50, 75+50*$i, 100, 40, "HGSｺﾞｼｯｸE");
      color: $chance-color;
      display: none;
    }
    div.sl#{$i} img {
      @include player-img(-50, 75+50*$i);
      @include fadein(0.5){
        transform: translate(0px, -50px);      	
      }
      display: none;
    }
  }
  div.action_o {
    @include player-button(-22, -100);
  }
  div.action_x {
    @include player-button(-22, 60);
  }
  div.action_win {
    @include player-button(-30, 110);
  }
  div.action_lose {
    @include player-button(-10, 110);
  }
  div.action_wait {
    @include player-button(10, 110);
  }
  @for $i from 1 through 5 {
    div.action_sl#{$i} {
      @include player-button(-22, 75+50*$i);
    }
    display: none;
  }
}