@import "_rule.scss";
@import "_union-common.scss";

@each $i in 1,2,3,4,5 {
  div.lot#{$i} {
	@include score-div(48px);
	top: 15%;
	left: -14.8% + 20% * $i;
	text-align: center;
  }
}

div.player {
  hr.hr1 {
  	display: none;
  }
  hr.hr2 {
  	display: none;
  }
  div.name {
  	display: none;
  }
  div.nameLat {
    @include player-item(-100, 0, 0, 36);
    transform-origin: -5px 0px;
    transform: translate(25px, 15px);
  }
  $mem_x : -50;
  $mem_y : 175;
  $delta: (0, -160), (152, -50), (94, 129), (-95, 129), (-153, -50);
  @for $i from 1 through 5 {
    div.name#{$i} {
      display: none;
    }
    div.torii#{$i} {
      display: none;
    }
    div.oo#{$i} {
      display: none;
    }
    div.sl#{$i} img {
      display: none;
    }
    div.action_sl#{$i} {
      display: none;
    }
  }
  div.action_o {
      display: none;
  }
  div.action_x {
      display: none;
  }
  div.action_win {
      display: none;
  }
  div.action_lose {
      display: none;
  }
  div.action_wait {
      display: none;
  }
}