@import "_rule.scss";
@import "_union-common.scss";

div.player {
  hr.hr1 {
    @include player-hr(-200, -140, 400, 2);  
  }
  hr.hr2 {
    @include player-hr(-200, -40, 400, 2);  
  }
  div.name {
  	display: none;
  }
  div.nameLat {
  }
  $mem_x : -50;
  $mem_y : 175;
  $delta: (0, -160), (152, -50), (94, 129), (-95, 129), (-153, -50);
  @for $i from 1 through 5 {
    div.name#{$i} {
      @include player-item($mem_x+nth(nth($delta, $i), 1), $mem_y+15+nth(nth($delta, $i), 2), 0, 24);
      transform-origin: 0px 0px;
      transform: translate(5px, -5px);
     }
    div.torii#{$i} {
      @include player-item($mem_x+nth(nth($delta, $i), 1), $mem_y+25+nth(nth($delta, $i), 2), 100, 18, "STU XVIII");
      display: none;
    }
    div.oo#{$i} {
      display: none;
      @include player-item($mem_x+nth(nth($delta, $i), 1), $mem_y+nth(nth($delta, $i), 2), 100, 40, "HGSｺﾞｼｯｸE");
      color: $chance-color;
    }
    div.sl#{$i} img {
      position: absolute;
      left: #{$mem_x + nth(nth($delta, $i), 1)}px;
      top: #{$mem_y + nth(nth($delta, $i), 2)}px;
      @include fadein(0.2){
      }
    }
    
      div.status img {
	    &.win {
	      @include player-img(-30*2, -75, 60*2, 166*2);
	    }
	    &.lose {
	      @include player-img(-37*2, -80, 75*2, 182*2);
	    }
	  }
    
    div.action_sl#{$i} {
      @include player-button($mem_x+28+nth(nth($delta, $i), 1), $mem_y+25+nth(nth($delta, $i), 2));
    }
  }
  div.action_o {
    @include player-button(-22, -100);
  }
  div.action_x {
    @include player-button(-22, 160);
  }
  div.action_win {
    @include player-button(-30, 210);
  }
  div.action_lose {
    @include player-button(-10, 210);
  }
  div.action_wait {
    @include player-button(10, 210);
  }
  div.path {
    position: absolute;
    top: 75px;
    left: -105px;
  }
}