<div class=" modal-dialog modal-lg">
  <div class="modal-header navbar">
    <form>
      <table class="table table-condensed">
        <tr>
          <!--
          <th ng-repeat="item in items | with: 'profile'"> {{item.key}} </th>
          -->
          <th>entryNo</th>
          <th>name</th>
          <th>name x</th>
          <th>handleName x</th>
          <th>torii x</th>
          <th>move</th>
        </tr>
        <tr>
          <!--
          <td ng-repeat="item in items | with: 'profile'">
          <input class="form-control" ng-model="selectPlayer[item.key]" ng-init="selectPlayer[item.key]=''">
          </input> </td>
          -->
          <td rowspan="5">
          <input class="form-control" ng-model="selectPlayer['entryNo']" ng-init="selectPlayer['entryNo']=''">
          </input></td>
          <td rowspan="5">
          <input class="form-control" ng-model="selectPlayer['name']" ng-init="selectPlayer['name']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['name1']" ng-init="selectPlayer['name1']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['handleName1']" ng-init="selectPlayer['handleName1']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['torii1']" ng-init="selectPlayer['torii1']=''">
          </input></td>
          <td><a href="#" ng-click="moveDown(1)">▼</a></td>
        </tr>
        <tr>
          <td>
          <input class="form-control" ng-model="selectPlayer['name2']" ng-init="selectPlayer['name2']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['handleName2']" ng-init="selectPlayer['handleName2']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['torii2']" ng-init="selectPlayer['torii2']=''">
          </input></td><td><a href="#" ng-click="moveDown(2)">▼</a></td>

        </tr>
        <tr>
          <td>
          <input class="form-control" ng-model="selectPlayer['name3']" ng-init="selectPlayer['name3']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['handleName3']" ng-init="selectPlayer['handleName3']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['torii3']" ng-init="selectPlayer['torii3']=''">
          </input></td><td><a href="#" ng-click="moveDown(3)">▼</a></td>

        </tr>
        <tr>
          <td>
          <input class="form-control" ng-model="selectPlayer['name4']" ng-init="selectPlayer['name4']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['handleName4']" ng-init="selectPlayer['handleName4']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['torii4']" ng-init="selectPlayer['torii4']=''">
          </input></td><td><a href="#" ng-click="moveDown(4)">▼</a></td>

        </tr>
        <tr>
          <td>
          <input class="form-control" ng-model="selectPlayer['name5']" ng-init="selectPlayer['name5']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['handleName5']" ng-init="selectPlayer['handleName5']=''">
          </input></td>
          <td>
          <input class="form-control" ng-model="selectPlayer['torii5']" ng-init="selectPlayer['torii5']=''">
          </input></td>
        </tr>
      </table>
      <div class="text-center">
        <div class="btn-toolbar">
          <button class="btn btn-info" ng-click="filterPlayer(nameList, selectPlayer)">
            Search
          </button>
          <button class="btn btn-warning" ng-click="clearPlayer(selectPlayer)">
            Clear
          </button>
          <button class="btn btn-success" ng-click="modalOK()">
            OK
          </button>
          <button class="btn btn-danger" ng-click="modalCancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-body">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th ng-repeat="item in items | with: 'profile'"><a href="#" ng-click="sortOrder=!sortOrder;sortPlayer(nameList, item.key, sortOrder, item.style)"> {{item.key}} </a></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="participant in nameList" ng-if="! participant['filtered']" ng-click="setPlayer(participant, selectPlayer)" style="cursor: pointer">
          <td ng-repeat="item in items | with: 'profile'"> {{participant[item.key]}} </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
